* {
  box-sizing: border-box;
}

html, body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  color: #eacda3;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.title, .controls, .button {
  flex: none;
}

.button, .todo-delete {
	-moz-box-shadow: 0px 10px 14px -7px #e6c28f;
	-webkit-box-shadow: 0px 10px 14px -7px #e6c28f;
	box-shadow: 0px 10px 14px -7px #e6c28f;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eacda3), color-stop(1, #e8bc7e));
	background:-moz-linear-gradient(top, #eacda3 5%, #e8bc7e 100%);
	background:-webkit-linear-gradient(top, #eacda3 5%, #e8bc7e 100%);
	background:-o-linear-gradient(top, #eacda3 5%, #e8bc7e 100%);
	background:-ms-linear-gradient(top, #eacda3 5%, #e8bc7e 100%);
	background:linear-gradient(to bottom, #eacda3 5%, #e8bc7e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eacda3', endColorstr='#e8bc7e',GradientType=0);
	background-color:#eacda3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#005d97;
	text-decoration:none;
	text-shadow:0px 1px 0px #363795;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e8bc7e), color-stop(1, #eacda3));
	background:-moz-linear-gradient(top, #e8bc7e 5%, #eacda3 100%);
	background:-webkit-linear-gradient(top, #e8bc7e 5%, #eacda3 100%);
	background:-o-linear-gradient(top, #e8bc7e 5%, #eacda3 100%);
	background:-ms-linear-gradient(top, #e8bc7e 5%, #eacda3 100%);
	background:linear-gradient(to bottom, #e8bc7e 5%, #eacda3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8bc7e', endColorstr='#eacda3',GradientType=0);
	background-color:#e8bc7e;
}
.button:active {
	position:relative;
	top:1px;
}



.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
}

.todo-delete {
  margin: 10px;
}

.todo-checkbox {
  margin: 10px;
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid #333;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}
